.slick-prev, .slick-next {
    z-index: 1000;
}
.slick-prev {
    left: -60px; /* Bu değeri ihtiyacınıza göre ayarlayın */
}

.slick-next {
    right: -100px; /* Bu değeri ihtiyacınıza göre ayarlayın */
}

.slick-prev, .slick-next {
    background: transparent !important;
    color: transparent !important;
}

.ww-w {
   
    background-color: white;
    button {
        width: 100px;
        font-size: 11px;
        border: none; // border'ı kaldırır
        background-color: black; // arka planı siyah yapar
        color: white; // yazı rengini beyaz yapar
        border-radius: 20px; // köşeleri yuvarlak yapar, istediğiniz yuvarlaklık seviyesini ayarlamak için bu değeri değiştirebilirsiniz
        padding: 2px 10px; // button'un iç padding'i, daha iyi bir görüntü i   
    }
    padding-bottom: 500px;
}
.ww-w.dark-mode {
    background-color: rgb(58, 58, 58); /* ya da istediğiniz gri ton */
    color: white;
    
    button {
        background-color: white; // arka planı siyah yapar
        color: black; // yazı rengini beyaz yapar
   
  }
  padding-bottom: 500px;
}



.h-100{
    height: 100px;
 
}
.f-s-15{
    font-size: 15px;
}
.bg-settings{
    background-color: black;
    color: white;
    height: 42px;
    display: flex;
    align-items: center;
    
}

.haber-container {
    display: grid;
    grid-template-columns: auto 1fr; /* saatdiv için otomatik genişlik, haberic için geri kalan genişlik */
    grid-gap: 10px; /* Bu, her bir öğe arasına 10px boşluk ekler */
}
  
.slider{
    background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(120, 0, 0));
    width: 100%;
    height: 50px;
   
}
 .anaSlider {
    color: white;
    display: flex;
 }  

 .sndak {
    font-size: 16px;
    font-weight: bold;
    margin: 0   ;
    padding: 0;
 }
 .haberkay {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-gap: 10px;  // Bu, her bir öğe arasına 10px boşluk ekler
    flex: 10;
    flex-direction: row; /* Haberlerin yanyana sıralanmasını sağlar */
    align-items: center;
    overflow-x: hidden; /* Yatayda taşan içeriği gizler */
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 50px;
    

}
.haberkay2 {
    
   margin-right: 20px;
   
}

  .saatdiv {
    background-color: yellow;
    color: black;
    margin-right: 5px;
    padding: 0 5px;
  }

    


.reklam {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    overflow: hidden;
    div{
        img{
            height: min-content;
        }
    }
    
    
}
.anaresim{
    height:fit-content; 
}


.resimGaleri {
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding:2px  10px;
    border: 1px gray solid;
    :first-child {
        :first-child{
            display: flex;
            align-items: center;
            justify-content: space-between;  
            div{
                border: none;
                img{
                    border: none;
                    border-radius: 50%;
                    width: 55px;
                    height: 55px;
                    margin-right: 10px;
                }
            }
            span{
                font-size: small;
            }
    
            
        }
    }
   
    
   
}
.aktif{
    border: none;
    background-color: red;
    height: 1px;
    width: 100%;
    display: flex;

   
}


.vertical-line {
    width: 1px;  /* Çizginin kalınlığı */
    height: 40px;  /* Çizginin yüksekliği */
    background-color: white;  /* Çizginin rengi */
    margin-left: 10px;  /* Sol taraftan boşluk */
    margin-right: 30px;  /* Sağ taraftan boşluk */
    margin-top: 5px;
    
}
.img-w {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}
.ortala{
    display: flex;
    align-items: center;
}

.pad-1 {
    margin-right: 5px;
    color: white;
    text-decoration: none;
}
.deger {
    div {
        width: 25px;
        height: 25px;
        
        display: flex;
        
        align-items: center;
        justify-content: space-between;
    }
}
.j-bet{
    display: flex;
  
    justify-content: space-between;    
}


.Header {
    display: flex;
    height: 100%;
   

    // İçerisindeki 3 ana div için:
    > div {
        flex: 1; // Bu, her bir div'in eşit genişlikte olmasını sağlar.
   
        // İçerikleri ortalamak için:
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:first-child {
            align-items: flex-start; // İlk div'i sol tarafa yaslar.
         

            
            h1 {
                padding-right: 10px;
                font-size: 15px;
                font-weight: normal; // Bold olmaması için
                display: inline-block; // h1 ve h2'yi yan yana getirir
              }
            h2 {
                font-size: 15px;
                display: inline-block; // h1 ve h2'yi yan yana getirir
                font-weight: 800;
              }
          
            p {
                font-size: 11px;
                font-style: italic; // İtalik yapar
              }
        }

        &:nth-child(2) {
            // İkinci div için özel stil (eğer gerekiyorsa)

            img {
               padding-top: 10px;
                height: 70px;
            }
            p {
                font-size: 11px;
              }
        }

        &:last-child {
            align-items: flex-end; // Son div'i sağ tarafa yaslar.
      
           
            
           
            h1 {
                padding-right: 10px;
                font-size: 15px;
                font-weight: normal;
                display: inline-block;
            
              }
            h2 {
                font-size: 15px;
                display: inline-block; 
                justify-content: flex-end;
                font-weight: 800;
              }
          
            p {
                font-size: 11px;
                font-style: italic; // İtalik yapar
              }
        }
    }
}


.HeaderNav {
    height: 42px;
    display: flex;
    flex-direction: row; // Yan yana sıralama için
    align-items: center;
    justify-content: space-between; // Divler arasında eşit boşluk bırakır ve yanlara yaslar
    font-size: 15px;
    
   

    div {
        cursor: pointer; // Div'ler tıklanabilir gibi gözüksün

      
    }
    :last-child {
        margin-bottom: 2px;
        font-weight:bold;
    }
}

.sirala {
    div {
        display: flex;
    flex-direction: row;
    justify-content:space-between
    
        
    }
}


